:root{
    --st-white:rgb(253, 246, 246);
    --st-blue:rgb(46, 176, 228);
    --st-grey:rgb(222, 230, 231);
    background-color: var(--st-grey);
}

html{
    padding: 0;
    margin: 0;
    height: 100%;
}
body{
    padding: 0;
    margin: 0;
    height: 100%;
}

#container{
    height: 100%;
    display: grid;
    grid-template-columns: minmax(180px,1fr) 6fr;
    grid-template-rows: 1fr 5fr;
}

#sidebar{
    grid-row: 1/-1;
    background-color: var(--st-blue);
    display: flex;
    flex-direction: column;
    color: var(--st-white);

}

#header{
    background-color: var(--st-white);
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: 1fr 1fr;
    gap: 24px;
    padding-right: 48px;
    box-shadow: 0px 2px rgba(0, 0, 0, .1);
}

#content{
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 14px;
    padding: 14px;
}

#sidebar>div{
    margin-bottom: 50px;
    margin-left: 20px;
    margin-top: 20px;
}

#sidebar>div>div{
    display: flex;
    align-items: center;
    margin-top: 15px;
    font-size: 1.2rem;
}

#Dashboard{
    font-size: 2rem;
}

#search{
    display: flex;
    align-items: center;
    margin: 12px;
}

#search input{
    width: 60%;
    border-radius: 16px;
    border-style: none;
    background-color: var(--st-grey);
    margin: 12px;
    font-size: 1.5rem;
}

#search input:focus{
    outline: none;
}

#projects{
    grid-row: 1/3;
}

h1{
    font-size: 1.5rem;
}

#articles>div{
    background-color: var(--st-white);
    padding: 8px;
    box-shadow: 1px 2px 2px 2px rgba(0, 0, 0, .1);
    border-radius: 8px;
}

#account{
    display: flex;
    align-items: center;
    margin: 12px;
    justify-content: space-around;
}

#actions{
    display: flex;
    align-items: center;
    margin: 12px;
    justify-content: space-around;
}

#actions button{
    background-color: var(--st-blue);
    border-style: none;
    border-radius: 16px;
    color: var(--st-white);
    padding: 10px 20px;
    font-size: 1rem;
    width: 88px;
}

#articles{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    gap: 16px;
}


#info{
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 3fr;  
    gap: 24px;
    margin-left: 16px;
}

#infoPicture{
    grid-row: 1/3;
}

#announcements>div{
    background-color: var(--st-white);
    padding: 8px;
    box-shadow: 1px 2px 2px 2px rgba(0, 0, 0, .1);
    border-radius: 8px;
}

#trenCon{
    background-color: var(--st-white);
    padding: 8px;
    box-shadow: 1px 2px 2px 2px rgba(0, 0, 0, .1);
    border-radius: 8px;
}



#magWrap{
  height: 2vh;
}

#magWrap > img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}

#bell{
    height: 2vh;
}

#bell>img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}